@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto+Slab:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* ---------------- Screen ---------------- */
#cv-preview {
  position: relative;
  z-index: 0;
  background-color: #ffffff;
  overflow-y: scroll;
  font-family: "Ubuntu", sans-serif;
  color: #333333;
}

/* Vertical bar */
#cv-preview::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 80px;
  width: 300px;
  background-color: #181818;
  z-index: -1;
  height: 500vh;
}

/* Horizontal bar */
#cv-preview::after {
  content: "";
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  height: 180px;
  background-color: #043280;
  z-index: -1;
}

.skewed-bar {
  position: absolute;
  top: 100px; /* adjust: vertical position inside horizontal bar */
  left: 8%; /* horizontal offset inside bar */
  width: 320px; /* rectangle width */
  height: 180px; /* rectangle height */
  background-color: #032a6b; /* accent color */
  transform: skewX(-20deg); /* skew horizontally */
  z-index: 1; /* above horizontal bar but below profile if needed */
}

/* ---------------- Print ---------------- */
@media print {
  body * {
    visibility: hidden;
  }

  #cv-preview,
  #cv-preview * {
    visibility: visible;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  @page {
    size: A4 portrait;
    margin: 10mm;
  }

  #cv-preview {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    /* max-height: 100vh; */
    margin: 0;
    padding-left: 280px; /* space for vertical bar */
    padding-top: 280px; /* space for horizontal bar */
    box-sizing: border-box;
    overflow: visible;
    background-color: #ffffff; /* solid white for print */
  }

  #cv-preview::before {
    position: fixed;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  #cv-preview::after {
    width: 100%; /* ensure horizontal bar spans full page */
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
